.field-wrapper {
    border-radius: 10px;
    padding: 5px;
    width: 100%;
}
.form-wrapper {
    text-align: left;
}
.form-btn {
    border-radius: 10px;
}
.onsubmit-preloader {
    animation: preloader-spin infinite 20s linear;
    height: 80px;
}
@keyframes preloader-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}