#welcomePage {
    background-color: #525659;
    min-height: 100vh;
    text-align: center;
    font-size: calc(10px + 2vmin);
    color: black;
    display: flex;
    align-items: center;
}

.welcome-link {
    color: #118417;
}
.welcome-link:hover {
    color: #409671;
    text-decoration: none;
}
